[submodule "central-command/lucid-infra"]
	path = central-command/lucid-infra
	url = ./central-command/lucid-infra
[submodule "central-command/lucid-orchestrator"]
	path = central-command/lucid-orchestrator
	url = ./central-command/lucid-orchestrator
[submodule "central-command/lucid-ui"]
	path = central-command/lucid-ui
	url = ./central-command/lucid-ui
