[submodule "lucid-infra"]
	path = lucid-infra
	url = https://github.com/LucidLabPlatform/lucid-infra.git
[submodule "lucid-orchestrator"]
	path = lucid-orchestrator
	url = https://github.com/LucidLabPlatform/lucid-orchestrator.git
[submodule "lucid-ui"]
	path = lucid-ui
	url = https://github.com/LucidLabPlatform/lucid-ui.git
[submodule "lucid-ai"]
	path = lucid-ai
	url = https://github.com/LucidLabPlatform/lucid-ai.git
